asn1crypto==0.24.0
cryptography==2.1.4
Django==1.11.22
django-classy-tags==0.9.0
django-cms==3.6.0
django-formtools==2.1
django-sekizai==1.0.0
django-treebeard==4.3
djangocms-admin-style==1.4.0
enum34==1.1.6
gyp==0.1
idna==2.6
ipaddress==1.0.17
keyring==10.6.0
keyrings.alt==3.0
olefile==0.45.1
Pillow==6.2.0
PyBluez==0.18
pycrypto==2.6.1
pycryptodomex==3.5.1
pygobject==3.26.1
pytz==2019.1
pyxdg==0.25
SecretStorage==2.3.1
simplejson==3.13.2
six==1.11.0
